<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>jQuery slider method</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>


</head>
<body>
  <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>

    <script>
$('#ex1').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
});
    </script>
</body>
</html>